.align {
	text-align: center;
}
.xroma{
	background-color: #ebe834;
}
.istoria{
	background-color: #6fa8dc;
}
.second-row{
	display: flex;
	justify-content: center;
	align-items: center;
}